.uploaded-diagram {
    border-left: 8px solid gray;
    .meta-info {
        padding-left: 2em;
    }
    .image {
        object-fit: fill;
        max-height: 300px;;
    }
    .standard-button {
        width: 120px;
    }

    .slick-dots.black-dots {
        $thickness: 13px;
        width: $thickness + 4px;
        border-radius: $thickness;
        background: white;
        > li, > li button {
            background: rgb(122, 122, 122);
            width: $thickness;
            height: $thickness;
            border-radius: 50%;

            &:hover {
                background: rgb(80, 80, 80);
            }

        }
        > li.slick-active, > li.slick-active button {
            background: black;
            width: $thickness;
            height: 24px;
            border-radius: $thickness;
        }
    }
}
