.floating-plus {
    display: inline;
    right: 50px;
    bottom: 50px;
    width: 80px !important;
    position: fixed;
    button {
        cursor: pointer;
        border: none;
        background-color: white;
        transition: background 0.2s;
        box-shadow: 0 0 4px 1px #d1d1d1;
        &:hover {
            background-color: #fafafa;
        }
        width: 80px;
        height: 80px;
        box-sizing: border-box;
        border-radius: 50%;
        padding: 10px;
        line-height: 102px;
        overflow: hidden;
        color: var(--link-color);
        .plus {
            margin: 0 auto;
            position: relative;
            top: -20px;
            transform: scale(4);
        }
    }

}
