.centered-form:not(.only-horizontal) {
    margin-top: 50vh;
    position: relative;
    .inner-wrapper {
        transform: translateY(-50%);
        position: absolute;
        width: 100%;
    }
}
