@import "style/variables.scss";
@import "style/root.scss";

.margin-left-auto {
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.d-inline-block {
    display: inline-block;
}

$types: (
    p: padding,
    m: margin
);
$directions: (
    r:right, l:left, t:top, b:bottom
);
$sizes: (
    0: 0,
    1: 4px,
    2: 8px,
    3: 12px,
    4: 16px,
    5: 20px,
    6: 24px,
    7: 28px,
    8: 32px,
    9: 36px,
    10: 40px,
    auto: auto
);


@each $sizeLabel, $size in $sizes {
    @each $shortDir, $longDir in $directions {
        @each $short, $long in $types {
            .#{$short}#{$shortDir}-#{$sizeLabel} {
                #{$long}-#{$longDir}: $size !important;
            }
        }
    }
}

.underline {
    text-decoration: underline;
}

.full-width {
    width: 100%;
}

.geEditor,
.geDialog {
    box-sizing: content-box !important;
    *,
    ::before,
    ::after {
        box-sizing: inherit;
    }
}


.pointer {
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}

.bold {
    font-weight: bold;
}

.inherit-color {
    color: inherit;
}

.position-absolute {
    position: absolute;
}


.text-center { 
    text-align: center;
}
      
.no-scroll {
    overflow-y: hidden;
}

.window-height {
    height: 100vh;
}